[submodule "UnityClient/Assets/UnityFramework"]
	path = UnityClient/Assets/UnityFramework
	url = git@github.com:wp-2015/UnityFramework.git
[submodule "GoGameServer"]
	path = GoGameServer
	url = git@github.com:wp-2015/GoGameServer.git
[submodule "UnityClient/CustomBuildPipeline"]
	path = UnityClient/CustomBuildPipeline
	url = git@github.com:wp-2015/CustomBuildPipeline.git
